<div>
  <div>
    <strong>First Name</strong>: 
    <input type="text" [(ngModel)]="firstName"/>
  </div>
  <div>
    <strong>Last Name</strong>: 
    <input type="text" [(ngModel)]="lastName"/>
  </div>
  <div>
    <strong>Email</strong>: 
    <input type="text" [(ngModel)]="email"/>
  </div>
  <div>
    <strong>Gender</strong>: 
    <input type="text" [(ngModel)]="gender"/>
  </div>
  <br>
  <button (click)="addUser()">Add User</button>
  <br>
  <p><strong>Subscription Data</strong> {{ subscribedUser }}</p>
</div>
<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="users">
  <table style="width:100%; margin-top: 2em;">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Gender</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.gender }}</td>
    </tr>
  </table>
  <br>
  <button (click)="refresh()">Refresh</button>
</div>
<div>
  <br>
  <div>
    <strong>ID</strong>: 
    <input type="text" [(ngModel)]="id"/>
  </div>
  <br>
  <button (click)="getUser()">Get User</button>
  <br>
  <p><strong>Data</strong> {{ singleUser }}</p>
</div>

<router-outlet></router-outlet>
